
        body {
            background-color: #1e1e1e;
            color: #ffffff;
        }
        .album-art {
            width: 200px;
            height: 200px;
        }
        .song-list {
            margin-top: 20px;
        }
        .song-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;
        }
        .song-item:not(:last-child) {
            border-bottom: 1px solid #444;
        }
        .song-info {
            display: flex;
            align-items: center;
        }
        .song-info .number {
            margin-right: 20px;
            font-size: 20px;
        }
        .song-info .details {
            display: flex;
            flex-direction: column;
        }
        .song-info .details .title {
            font-size: 18px;
        }
        .song-info .details .artist {
            font-size: 14px;
            color: #bbb;
        }
        .song-info .song-art {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .liked {
            color: #ff0000;
            cursor: pointer;
        }
        /* 仅在 iframe 中隐藏播放条 */
        @media all and (min-width: 1px) {
            .player-bar {
                display: none;
            }
        }
    
