
        body {
            background-color: #1e1e1e;
            color: #ffffff;
        }
        .artist-art, .album-art {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
        .artist-item, .album-item {
            margin-bottom: 20px;
        }
        .song-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;
        }
        .song-item:not(:last-child) {
            border-bottom: 1px solid #444;
        }
        .song-info {
            display: flex;
            align-items: center;
        }
        .song-info .number {
            margin-right: 20px;
            font-size: 20px;
        }
        .song-info .details {
            display: flex;
            flex-direction: column;
        }
        .song-info .details .title {
            font-size: 18px;
        }
        .song-info .details .artist {
            font-size: 14px;
            color: #bbb;
            cursor: pointer;
        }
        .song-info .details .album {
            font-size: 14px;
            color: #007bff;
            cursor: pointer;
        }
        .song-info .song-art {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .liked {
            color: #ff0000;
            cursor: pointer;
        }
        .content {
            padding-bottom: 100px; /* 添加底部填充，避免被播放条挡住 */
        }
    
